<section class="admin-fade-bg">
	<div class="admin-white-bg">
		<h1 class="admin-page-title">Admin Dashboard Help</h1>
		<p>NOTE: In order to access the admin dashboard, you will have to log in using your Google account. Which needs to be added under the "admins" section.</p>
		<hr>
		<h6>Features</h6>
		<p>The Horticulture Club Tracker has several features, all of which are accessible from the admin dashboard:</p>
		<ul>
			<li>
				<h6>Events</h6>
				<p>Manage events for the Horticulture Club (a calendar of the currently-listed events is available on the website). Events consist of a start and end time, as well as a type and the points available for attending.</p>
			</li>
			<li>
				<h6>Members</h6>
				<p>Manage the club's members list. Each member can be assigned a photo, the photo will only be used if the member holds a position. A member leaderboard for tracking points is also available.</p>
			</li>
			<li>
				<h6>Points</h6>
				<p>Manage the amount of points that a member has. Members can be assigned events that they have attended, and the points for that event will be automatically added to their point count.</p>
			</li>
			<li>
				<h6>Plant Sale</h6>
				<p>Manage the plants that will be sold at the annual plant sale. Each plant has a name, price, category, and quantity. All plants can be viewed on the website under "plant sale".</p>
			</li>
			<li>
				<h6>Positions</h6>
				<p>Manage the positions currently being held in the club. Positions can be assigned to members that are in the system; the positions are listed (along with the member's photo) under the "Officers" section of the website</p>
			</li>
			<li>
				<h6>Admins</h6>
				<p>Manage who can access the admin dashboard. Access should only be given to individuals who require the ability to edit any of the above features.</p>
			</li>
		</ul>
		<hr>
		<h6>General Use</h6>
		<p>In order to view entries for a category (e.g. members or events), navigate to the dashboard and click on the corresponding button starting with "Edit". This will show a list of entries and their details, including several options:</p>
		<ul>
			<li>
				<h6>Adding entries</h6>
				<p>To add an item (for example, plants to the plant sale page), click on the "Add New" button towards the top of the page. You will be prompted to enter details about the item you are creating. Once you have entered all relevant details, click on "Create" at the bottom to save it, or click on "Back" to cancel.</p>
			</li>
			<li>
				<h6>Editing entries</h6>
				<p>To edit an item (for example, plants available at the plant sale), click on the pencil icon for the item. You will be prompted to edit details about the item; once you have entered all relevant details, click on "Update" at the bottom to save changes, or click on "Back" to cancel.</p>
			</li>
			<li>
				<h6>View entries</h6>
				<p>To view all details for an item, click on the "View Details" button for the item. From there, you can either click on "Back" to return to the list, or "Edit" to edit the item.</p>
			</li>
			<li>
				<h6>Delete entries</h6>
				<p>To delete an entry, click on the trash icon for the item, then click on "OK" to confirm.</p>
			</li>
		<ul>
		<hr>
		<h6>Other Administrative Notes</h6>
		<p>This app is being hosted on heroku under the TAMU Horitculture Clubs account, and uses cloudinary to store the images for officers.</p>
		<ul>
			<li>
				<h6>Heroku</h6>
				<p>The username for Heroku is tamuhorticultureclub@gmail.com, and the password is HortClub1!.</p>
			</li>
			<li>
				<h6>Image Storage with Cloudinary</h6>
				<p>The images for any member are stored in Cloudinary under the same credentials for heroku. To view the images that are being stored visit <a href="https://cloudinary.com/users/login">cloudinary.com/users/login</a> and login.
				You can navigate to the "Media Library" tab, and click on the "rails_uploads" folder. Here you can view all of the images being stored.
				</p>
			</li>
		</ul>
	</div>
</section>