@import 'react-big-calendar/lib/sass/styles';

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbc-event-content {
  color: #fff !important;
}

.event-volunteerDay {
  background-color: #DC493A;
}

.event-monthlyMeeting {
  background-color: #574AE2;
}

.event-conference {
  background-color: #FE7F9C;
}

.event-social {
  background-color: #FC6A03;
}

.event-plantSale {
  background-color: #2BA84A;
}