@import 'react-big-calendar/lib/sass/styles';


.rbc-event-content {
  color: #fff !important;
}

.event-volunteerDay {
  background-color: #DC493A !important;
}

.event-monthlyMeeting {
  background-color: #574AE2 !important;
}

.event-conference {
  background-color: #FE7F9C !important;
}

.event-social {
  background-color: #FC6A03 !important;
}

.event-plantSale {
  background-color: #2BA84A !important;
}

.event-popover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
}

.event-popover-show {
  display: block;
}

.event-popover-hide {
  display: none;
}

.event-popover-title {
  font-weight: 500;
}

.event-popover-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-popover-start, .event-popover-end {
  text-align: left;
}

.remove-icon {
  width: 50px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 750px){
    .event-popover {
      width: 90vw;
    }
}

@media screen and (max-width: 500px) {
  .event-popover-title {
    font-size: 1.0rem;
  }
  .event-popover-start, .event-popover-end, .event-popover-description {
    font-size: 0.75rem;
  }
  .remove-icon {
    width: 30px;
    height: 30px;
  }
}

@media scren and (max-width: 300px) {
  .event-popover-start, .event-popover-end, .event-popover-description {
    font-size: 0.6rem;
  }
}