<div class="admin-login-bg admin-fade-bg">
    <div class="admin-login-wrapper">
        <h2>You're Logged out! Login Here</h2>
        <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %>
        <%= link_to "Back to Website", 'dashboard/index'%>
    </div>
</div>