<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @eligible_admin.email %>
</p>

<%= link_to 'Edit', edit_eligible_admin_path(@eligible_admin) %> |
<%= link_to 'Back', eligible_admins_path %>
