/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
 }

/*Global admin page styles*/
 .admin-fade-bg {
    background-image: linear-gradient(to right, #218743, #02491A);
    min-height: 100vh;
    padding-bottom: 20px;
 }

 .bg-adminNav {
     background-color: rgba(255, 255, 255, 0.0);
 }

 .adminNav-container {
    margin: 0 auto;
    width: 68vw !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .bg-adminNav-dropdown-active {
     background-color: #999999 !important;
 }

 .navbar-brand {
     font-size: 1.5rem !important;
 }

 .admin-navbar-toggler {
     background-color: #fff !important;
 }

 .admin-nav-link {
     color: #fff !important;
 }

 .admin-active {
     color: #999999 !important;
 }

.admin-white-bg {
    background-color: #fff;
    padding: 50px;
    width: 75vw;
    margin: 0 auto;
    border-radius: 15px;
}

.admin-page-title {
    color: #000;
    margin-bottom: 20px;
    font-size: 22px;
}

.admin-new-btn {
    background-color: #0072ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
}

.admin-new-btn:hover, .admin-attribute-active-link:hover {
    color: #fff !important;
}

.admin-column-title {
    font-size: 16px;
    margin: 20px 0;
    font-weight: 600;
}
.admin-crud-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute-show-btn {
    background-color: #00892E;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
}

.attribute-show-btn:hover {
    color: #fff !important;
}

.attribute-icon {
    width: 25px;
    height: 25px;
}

.flash, .flash_notice {
    display: none !important;
}

#notice {
    color: #999999;
    text-align: center;
    font-size: 16px;
}

.admin-show-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

/* Admin-Form Styles */
label {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.field {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid #000;
}

select {
    line-height: 20px;
    padding: 5px;
    border-radius: 8px;
}

.admin-attribute-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.admin-attribute-back-link, .admin-attribute-active-link {
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #0072ff;
}

.admin-attribute-back-link {
    background-color: #fff;
    color: #0072ff;
}

.admin-attribute-active-link {
    background-color: #0072ff;
    color: #fff;
}

.actions input {
    background-color: #0072ff;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.actions input:hover {
    cursor: pointer;
}

/* Admin-Plant Page Styles */
.admin-plant-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 5px;
}

.admin-plant-links {
    width: 60%;
}

/* Media queries for smaller screen sizes */

@media screen and (max-width:1200px) {
    .admin-white-bg {
        width: 90vw;
    }
}

@media screen and (max-width:1000px) {
    .admin-white-bg {
        width: 95vw;
        padding: 30px;
    }
    .adminNav-container {
        width: 83vw !important;
    }
    .field {
        width: 47.5%;
    }
}

@media screen and (max-width: 753px){
    .field {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .adminNav-options {
        margin-left: 0 !important;
    }

    .admin-white-bg {
        width: 95vw;
        padding: 20px;
    }
    .adminNav-container {
        width: 93vw !important;
    }
    .admin-crud-icons {
        grid-column: 1 / span 4;
        justify-content: space-evenly;
    }
    .admin-plant-links {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    * {
        text-align: center;
    }
    
    select {
        padding: 2px;
        line-height: 13px;
        font-size: 13px;
    }
    .admin-attribute-links, .field, .admin-date-wrapper {
        flex-direction: column;
        margin: 0 auto;
    }
    .actions {
        padding: 10px 0;
    }
    .admin-attribute-active-link {
        margin: 10px 0;
    }
    .admin-show-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 3px;
    }
    .navbar-brand {
        font-size: 1rem !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar-toggler {
        padding: 0.1rem 0.1rem !important;
    }
    .adminNav-container {
        width: 100vw !important;
    }
    .admin-page-title {
        font-size: 16px;
    }

}