// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 *{
     font-family: 'Lato', sans-serif;
 }

 .dashboard-bg {
     background-image: linear-gradient(to right, #218743, #02491A);
 }

 .dashboard-title {
     text-align: center !important;
     color: #ffffff;
     padding-top: 5vw;
     padding-bottom: 5vw;
     margin: 0;
     font-size: 35px;
     line-height: 30px;
     font-weight: 900;
 }

 .card-title {
     text-align: center;
 }

 .selection-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 50px;
     row-gap: 100px;
     justify-content: center;
     align-items: center;
     max-width: 80%;
     margin: 0 auto;
     padding-bottom: 10vh;
 }

 .selection-card {
     background-color: #ffffff;
     width: 250px;
     height: 300px;
     margin: 0 auto;
     border-radius: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     text-align: center;
     box-shadow: 0 0 5px #4c4c4c;
 }

 .selection-card-title {
     margin: 0 auto;
     width: 80%;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
 }

 .selection-icon {
     width: 25px;
     height: 25px;
 }

 .dashboard-link {
     text-decoration: none;
     padding: 10px 50px;
     border-radius: 15px;
     color: #ffffff !important;
     &:last-of-type {
        margin-bottom: 20px;
     }
 }

 .selection-description {
     padding: 0 15px;
     font-family: 'Lato', sans-serif;
 }

 #events-link {
     background-image: linear-gradient(to right,#FF5151,#FFC267);
    &:hover {
        box-shadow: 0 0 3px #FF5151;
        background-image: linear-gradient(to right,#FF5151,#FFC267);
    }
 }

 #members-link, #leaderboard-link {
    background-image: linear-gradient(to right,#3347FF,#D6DAFF);
    &:hover {
        box-shadow: 0 0 3px #3347FF;
        background-image: linear-gradient(to right,#3347FF,#D6DAFF);
    }
}

#leaderboard-link {
    padding: 10px 27px;
}

 #points-link {
    background-image: linear-gradient(to right,#D79B00,#FDFFA7);
    &:hover {
        box-shadow: 0 0 3px #D79B00;
        background-image: linear-gradient(to right,#D79B00,#FDFFA7);
    }
}

#plantsale-link {
    background-image: linear-gradient(to right,#00892E,#8DF806);
    &:hover {
        box-shadow: 0 0 3px #00892E;
        background-image: linear-gradient(to right,#00892E,#8DF806);
    }
}

#positions-link {
    background-image: linear-gradient(to right,#A230BE,#F1B7FF);
    &:hover {
        box-shadow: 0 0 3px #A230BE;
        background-image: linear-gradient(to right,#A230BE,#F1B7FF);
    }
}

#admins-link {
    background-image: linear-gradient(to right,#BE3030,#FFA1A1);
    &:hover {
        box-shadow: 0 0 3px #BE3030;
        background-image: linear-gradient(to right,#BE3030,#FFA1A1);
    }
    color: white;
}

@media screen and (max-width:1000px) {
    .selection-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
    }
}

@media screen and (max-width:570px) {
    .selection-grid {
        grid-template-columns: 1fr;
        max-width: 95%;
    }
    .selection-card {
        width: 90%;
    }
    .dashboard-title {
        padding: 50px 20px;
        font-size: 25px;
    }
}