// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// dashboard styles
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 *{
     font-family: 'Lato', sans-serif;
 }

 .fade-bg {
     background-image: linear-gradient(to right, #218743, #02491A);
     min-height: 100vh;
 }

 .dashboard-title {
     text-align: center !important;
     color: #ffffff;
     padding-top: 5vw;
     padding-bottom: 5vw;
     margin: 0;
     font-size: 35px;
     line-height: 30px;
     font-weight: 900;
 }

 .card-title {
     text-align: center;
 }

 .selection-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 50px;
     row-gap: 100px;
     justify-content: center;
     align-items: center;
     max-width: 80%;
     margin: 0 auto;
     padding-bottom: 10vh;
 }

 .selection-card {
     background-color: #ffffff;
     width: 250px;
     height: 300px;
     margin: 0 auto;
     border-radius: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     text-align: center;
     box-shadow: 0 0 5px #4c4c4c;
 }

 .selection-card-title {
     margin: 0 auto;
     width: 80%;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
 }

 .selection-icon {
     width: 25px;
     height: 25px;
 }

 .dashboard-link {
     text-decoration: none;
     padding: 10px 50px;
     border-radius: 15px;
     color: #ffffff !important;
     &:last-of-type {
        margin-bottom: 20px;
     }
 }

 .selection-description {
     padding: 0 15px;
     font-family: 'Lato', sans-serif;
 }

 #events-link {
     background-image: linear-gradient(to right,#FF5151,#FFC267);
    &:hover {
        box-shadow: 0 0 3px #FF5151;
        background-image: linear-gradient(to right,#FF5151,#FFC267);
    }
 }

 #members-link, #leaderboard-link {
    background-image: linear-gradient(to right,#3347FF,#D6DAFF);
    &:hover {
        box-shadow: 0 0 3px #3347FF;
        background-image: linear-gradient(to right,#3347FF,#D6DAFF);
    }
}

#leaderboard-link {
    padding: 10px 27px;
}

 #points-link {
    background-image: linear-gradient(to right,#D79B00,#FDFFA7);
    &:hover {
        box-shadow: 0 0 3px #D79B00;
        background-image: linear-gradient(to right,#D79B00,#FDFFA7);
    }
}

#plantsale-link {
    background-image: linear-gradient(to right,#00892E,#8DF806);
    &:hover {
        box-shadow: 0 0 3px #00892E;
        background-image: linear-gradient(to right,#00892E,#8DF806);
    }
}

#positions-link {
    background-image: linear-gradient(to right,#A230BE,#F1B7FF);
    &:hover {
        box-shadow: 0 0 3px #A230BE;
        background-image: linear-gradient(to right,#A230BE,#F1B7FF);
    }
}

#admins-link {
    background-image: linear-gradient(to right,#BE3030,#FFA1A1);
    &:hover {
        box-shadow: 0 0 3px #BE3030;
        background-image: linear-gradient(to right,#BE3030,#FFA1A1);
    }
}

// admin pages styles
.admin-page-title {
    color: #fff;
    font-size: 30px;
}
.admin-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-options {
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: #fff, $alpha: 0.2);
    padding: 10px;
    border-radius: 50px;
}

.nav-options a {
    display: inline;
    color: #fff;
    text-decoration: none;
    &:first-of-type {
        padding-left: 15px;
    }
    &:last-of-type {
        padding-right: 15px;
    }
    &:hover {
        color: #b2b2b2;
    }
}

.new-attribute-wrapper {
    background-color: #fff;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 16px;
    margin: 0 auto;
    max-width: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.new-attribute-btn {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #0072ff;
    // background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
}

.table-first-row{
    margin: 0 auto;
    text-align: center;
    display: grid;
    max-width: 80%;
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
}

.table-first-row h6 {
    font-size: 16px;
    margin: 0 !important;
    border: 1px solid #fff;
}

.events-first-row {
    grid-template-columns: repeat(4,1fr) repeat(1, 1fr);
}

.members-first-row {
    grid-template-columns: repeat(2, 1fr);
}

.table-wrapper {
    margin: 0 auto;
    text-align: center;
    display: grid;
    max-width: 80%;
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table-wrapper p {
    margin: 0;
}

.events-wrapper {
    grid-template-columns: repeat(4,1fr) repeat(1, 1fr);
}

.members-wrapper {
    grid-template-columns: repeat(2, 1fr);
}

.crud-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attribute-show-btn {
    background-color: #00892E;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.attribute-icon {
    width: 25px;
    height: 25px;
}

@media screen and (max-width:1000px) {
    .selection-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
    }
    .admin-navbar{
        display: block;
        margin-left: 10vw;
    }
    .admin-page-title {
        margin-top: 0;
        padding-top: 30px;
    }
    .table-first-row h6 {
        font-size: 13px;
    }
    .table-wrapper, .table-first-row, .new-attribute-wrapper {
        padding: 15px;
    }
    .new-attribute-btn {
        margin-left: 0;
    }
    .table-wrapper p {
        font-size: 10px;
    }
}

@media screen and (max-width:570px) {
    .selection-grid {
        grid-template-columns: 1fr;
        max-width: 95%;
    }
    .selection-card {
        width: 90%;
    }
    .dashboard-title {
        padding: 50px 20px;
        font-size: 25px;
    }
    .events-first-row {
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-options {
        width: 80vw;
        padding: 5px;
        & a {
            font-size: 8px;
            padding: 0 !important;
        }
    }
    .admin-navbar{
        margin-left: 0;
    }
    .admin-page-title {
        margin-left: 25px;
    }
    .new-attribute-wrapper, .table-first-row, .table-wrapper {
        max-width: 100vw;
        padding: 10px;
    }
    .new-attribute-btn {
        padding: 5px 10px;
    }
}