// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Event Index Styles
.admin-event-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 5px;
}

.admin-events-start-end {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

.admin-date-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .admin-date-wrapper {
        width: 95%;
    }
}

@media screen and (max-width: 753px) {
    .admin-events-start-end {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .admin-events-start-end {
        margin: 0 auto;
    }
    .admin-event-wrapper p, .admin-event-wrapper h6 {
        font-size: 12px;
    }
}