// Place all the styles related to the leaderboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-leaderboard-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   row-gap: 5px;
}

@media screen and (max-width: 500px) {
   .admin-leaderboard-link {
      font-size: 13px;
      padding: 8px 13px;
   }
}