// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-member-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 5px;
}

.admin-member-crud-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .admin-member-wrapper {
        grid-template-columns: 1fr;
    }
    .admin-member-wrapper p {
        font-size: 18px;
    }
}   