<!-- Hero Section -->
<!-- May need to combine hero and about us due to the background image -->
<!-- Or we could change the background blobs -->
<!-- (See app/assets/images/websitebgs) -->
<section id="hero">
    <!-- Navbar -->
    <nav></nav>
</section>

<!-- About Us Section -->
<section id="aboutus"></section>

<!-- Officers Section -->
<section id="officers"></section>

<!-- Plant Sale Section -->
<section id="plantsale"></section>

<!-- Events Section -->
<!-- CALENDAR WILL BE HERE -->
<section id="events"></section>

<!-- Contact Footer -->
<footer id="contact"></footer>